<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Esto es el form de crear producto</h1>

    <form action="/products/create" method="POST">
      <p>
        <label for="name">Nombre producto</label>
        <input id="name" name="name" type="text" required />
      </p>
      <p>
        <label for="description">Descripción</label>
        <input id="description" name="description" type="text" required />
      </p>
      <p>
        <label for="price">Precio</label>
        <input id="price" name="price" type="text" required />
      </p>
      <p>
        <label for="type">Tipo de producto</label>
        <input id="type" name="type" type="text" required />
      </p>
      <button type="submit">Crear producto</button>
    </form>
  </body>
</html>
